body {
  background: pink;
  padding: 5px;
  margin: 50px;
  font-family: verdana;
}
.larger-text {
  font-size: 52px;
  color: white;
}
div {
  color: salmon;
  background: white;
  width:3000px;
}
li {display:inline;
}
