body {
  background-image: linear-gradient(to right,#e30181,#fe5e01);
  font-family: 'Rubik', sans-serif;
  height:auto;
  width:auto;
  margin: 0px;
}
li {
  display:inline;
}
a {
  color: salmon;
  text-decoration: none;
  margin-left: 10px;
  text-align: left;
}

header {
  background:white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:0;
}
.shoes {
  font-size: 10px;
  margin: auto;
}
.top-left {
  margin-left: 25px;
  text-align: left;
  background: white;
  font-size: 12px;
  font-weight: bold;
}
.top-right {
  margin-right: 10px;
  text-align: right;
  background: white;
  font-size: 12px;
  margin-left: 0;
}
.centered-container {
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
  margin-right: 0px;
}
.bottom {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  background: white;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.three-shoes {
  font-size: 12px;
  display: inline-block;
  width: 33%;
  margin: 0px;
}
.shoes {
  display: inline-block;
  width: auto;
}
p {
  color: white;
}
.sub {
  color: #BD0101;
}
h1 {
  color:white;
}
.mc-border {
  padding-top: 150px;
}
.mc-background {
  background-color: white;
}
.container {
  text-align: center;
  border: white;
}
.btn {
  background: white;
  font-size:14px;
  color: salmon;
  cursor:pointer;
}
