body {
  background-image: linear-gradient(to right,#e30181,#fe5e01);
  font-family: 'Rubik', sans-serif;
  height:auto;
  width:auto;
  margin: 0px;
}
li {
  display:inline;
}
a {
  color: salmon;
  text-decoration: none;
  text-align: left;
}

header {
  background:white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:0;
}
.shoes {
  font-size: 10px;
  margin: auto;
}
.top-left {
  margin-left: 0px;
  float: left;
  background: white;
  font-size: 18px;
  font-weight: bold;
}
.top-right {
  margin-right: 0px;
  text-align: right;
  background: white;
  font-size: 18px;
}
.bottom {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  background: white;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.three-shoes {
  font-size: 12px;
  display: inline-block;
  width: 33%;
  margin: 0px;
}
.shoes {
  display: inline-block;
  width: auto;
}
p {
  color: white;
}
.sub {
  color: #BD0101;
}
h1 {
  color:white;
  font-size:50px;
  line-height: 5px
}
.mc-border {
  padding-top: 100px;
  padding-bottom: 100px;
}
.mc-background {
  background-color: white;
  padding-top: 10px;
}
button {
  background: white;
  font-size:20px;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  color: salmon;
  display: inline-block;
  box-shadow: none;
  width: auto;
  height: 50px;
  border-radius: 6px;
}
button:hover {
  background: salmon;
  color: white;
  cursor: pointer;
  cursor: hand;
  outline: none;
  border: none;
}
button:active {
  outline: none;
  border: none;
  width: auto;
}
button:focus {
  outline: none;
  width: auto;
}
.recshoes {
  background-color: #ffe8e2;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}
a:hover {
  color: #BD0101;
  border-bottom: 3px solid #ffe8e2;
}
.buy {
  padding: 18px;
  text-transform: uppercase;
}
.tabheader {
  border-bottom: 1px solid salmon;
}
